<html>
    <head>
      <title>Tour Package Predictor</title>
    </head>
    
    <body>


        <form action=" " method="post"  id="contact_form" style="background-color:lightcyan">
        
        <fieldset>

        <legend><center><h2><b>Tour Package Predictor</b></h2></center></legend><br>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Age</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="Age" placeholder="Enter the customer's age" class="form-control"  type="text" >
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label"><b>Type Of Contact</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="TypeofContact" class="form-control selectpicker">
            <option value="">Select the type of contact</option>
            <option>Self Enquiry</option>
            <option>Company Invited</option>
            <option >Other</option>
          </select>
          </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label"><b>City Tier</b></label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="CityTier" class="form-control selectpicker">
              <option value="">Select the city tier</option>
              <option>1</option>
              <option>2</option>
              <option >3</option>
            </select>
            </div>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Duration Of Pitch</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="DurationOfPitch" placeholder="Enter the duration of pitch" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Occupation</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="Occupation" class="form-control selectpicker">
            <option value="">Select your occupation</option>
            <option>Large Business</option>
            <option>Small Business</option>
            <option >Salaried</option>
            <option >Free Lancer</option>
          </select>
          </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Gender</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="Gender" class="form-control selectpicker">
            <option value="">Select your gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
          </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Number Of Person Visiting</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="NumberOfPersonVisiting" placeholder="Enter the number of persons" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Number Of Followups</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="NumberOfFollowups" placeholder="Enter the number of followups" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Product Pitched</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="ProductPitched" class="form-control selectpicker">
            <option value=""><b>Select the product pitched</b></option>
            <option>Basic</option>
            <option>Standard</option>
            <option>Deluxe</option>
            <option>Super Deluxe</option>
            <option>King</option>
          </select>
          </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Preferred Property Star</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="PreferredPropertyStar" placeholder="Enter the preferred property stars" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Marital Status</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="MaritalStatus" class="form-control selectpicker">
            <option value=""><b>Select the marital status</b></option>
            <option>Single</option>
            <option>Divorced</option>
            <option>Married</option>
          </select>
          </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Number Of Trips</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="NumberOfTrips" placeholder="Enter the number of trips" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Is Passport Availabel?</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="Passport" placeholder="Enter 1 for Yes and 0 for No" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Pitch Satisfaction Score</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="PitchSatisfactionScore" placeholder="Enter 1 for least satisfied and 5 for max" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Car Owner</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="OwnCar" placeholder="Enter 1 for Yes and 0 for No" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Number Of Children Visiting</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="NumberOfChildrenVisiting" placeholder="Enter the number of children visiting" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Designation</b></label>
          <div class="col-md-4 selectContainer">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="Designation" class="form-control selectpicker">
            <option value="">Select the designation</option>
            <option>Manager</option>
            <option>Executive</option>
            <option>Senior Manager</option>
            <option>AVP</option>
            <option>VP</option>
          </select>
          </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"><b>Monthly Income</b></label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="MonthlyIncome" placeholder="Enter monthly income" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
          </div>
        </div>

        <div class = "text-center mt-4">
            
                {%  if result == 'None'  %}
                    <span style="font-size: 200% !important; color:red; "><strong> Error! </strong></h3>
                {% else %}
                    {%  if result == 0  %}
                    <span style="font-size: 150% !important; color:red; "> 'The customer has not purchased the package. Better luck next time.' </span>
                    {% else %}
                    <span style="font-size: 150% !important;color:green;"> 'The customer has purchased the package.' </span>
                    {%  endif  %}
                {%  endif  %}
        
        </div>
        </fieldset>
        </form>
        </div>
            </div>
        <style>
            body {
                  background-image: url('https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                  background-repeat:no-repeat;
                  background-size:100% 100vh;
            }
            form {
                
                width:450px;
                height:860px;
                

            }
            fieldset {
                border: 0;
            }
            
        </style>
    </body>
</html>